<div class="main-container">
<div class="page home-right">
<div class="title">Notice Board</div>
<div class="content">
    <p>Welcome to College Social network.</p>
    <p>Login and proceed with your account and fun.</p>
</div>

</div>
<div class="page home-left">

</div>

</div>