body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height:100%;
}

a {
  color: #00B7FF;
}
.page{
  position: absolute;
  left: 50%;
  /* width: 00px; */
  margin-left: -150px;
  padding-top: 20px;
}
.main-container {
  /* min-height: 800px; */
  background-color: azure;
  padding: 10px;
}
.main-container  .home-left{
  width: 70%;
  float: left;
  border-left: 1px solid olivedrab;
  background-image: url('https://erp.psit.in/assets/img/bg-9.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-left .content{
  min-height: 800px;
  font-size: 18px;
}
nav.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu ul li{
  float : left;
  padding: 15px;
}
.menu ul a{
  text-decoration: none;
  color : #ffff;
  text-align: center;
   padding: 14px 16px;
}
.menu li a:hover{
  background-color: lightseagreen;
}
.home-left .title , .home-right .title{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.home-right{
  float:right;
}
ul.list-none {
  list-style: none;
  padding: 10px;
}
ul.list-none i {
  padding:5px;
}
.post-wrapper {
  margin: 11px;
}

.post-wrapper .header .image {
  float: left;
}

.post-wrapper .header .name {
  float: right;
}
.post-wrapper .message {
font-size : 16px;
}
.post-feed{
  padding-top: 15px;
  background-color: beige;
}
.full-page .area{
    background-color: #ffff;
    font-size: 20px;
    display: inline-block;
    padding:5px;
    margin:5px;
    border: 1px solid green;
    float: left;
}
.full-page .my-profile{
    width: 20%;
}
.full-page :after {
  content: "";
  display: table;
  clear: both;
}
.full-page .newsfeed{
    width: 50%;
}
.full-page .chatbox{
    width: 24%;
}
.post-form textarea{
  width: 100%;
  min-height: 100px;
}
.full-page .area .title{
  text-align: center;
}