<% include ../layout.ejs %>
<div class="main-container">
    <div class="full-page">
        <div class="area my-profile">
            <div class="title">My Profile</div>
            <div class="content">
                <img class="profileImg img-circle" src="" />
                <ul>
                    <li><span>Icon</span><span class="value"><%= student.name %></span></li>
                    <li><span>Icon</span><span class="value"><%= student.mobile_number %></span></li>
                    <li><span>Icon</span><span class="value">mumbai</span></li>
                    <li><span>Icon</span><span class="value">15 -08-1990</span></li>
                    <li><span>Icon</span><span class="value"><%= student.email_id %></span></li>
                </ul>
            </div>
        </div>
        <div class="area newsfeed">
            <div class="post-form"><label>Post</label><textarea cols="10"></textarea></div>
            <p class="options"><span>Photo</span><img src=""/></p>
            <button class="btn ">Post</button>
        </div>
        <div class="area chatbox">
            <div class="title">Online Users</div>
            <div class="list">
                <ul>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                </ul>
            </div>
        </div>
    </div>
</div>